# Dependencias (Nunca se suben porque son muy pesadas)
node_modules/

# Seguridad y Variables de Entorno (CRÍTICO: Aquí está tu clave de Atlas)
.env

# Compilación de TypeScript (Subimos el código fuente .ts, no el generado .js)
dist/
build/

# Logs del sistema
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Archivos del Sistema Operativo
.DS_Store
Thumbs.db

# Configuración de IDEs (Opcional, pero recomendado para trabajar limpio)
.vscode/
.idea/